// Colors
$clr1: #16161d;
$clr2: #e31b6d;
$clr3: #05c2c9;
$clr4: #252934;
$clr5: #626262;
$clr6: #eeeeee;
$clr7: #1b242f;
$clr8: #f5f5f5;

$allA:#aaa;
$allB:#bbb;
$allC:#ccc;
$allD:#ddd;
$allE:#eee;

$all1:#111;
$all2:#222;
$all3:#333;
$all4:#444;
$all5:#555;
$all6:#666;
$all7:#777;
$all8:#888;
$all9:#999;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;